* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow-x: hidden;
	font-family: "Georgia",serif;
	color: white;
	background-color: black;
	background-image:url(https://cdn.wallpapersafari.com/6/51/bmwf2B.jpg);
	background-size: cover;
	background-attachment: fixed;

}

.cardHighlight {

	min-height: 100%;
}


.text-center {
	margin-top: 20px;
}
.form-control:not(active){
      color:white;
}
.alert {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
}


